<div>
    <!-- Sidebar -->
    <div>
        <div>

        </div>
        <div>
            <button>
                <div>SVG</div>
                <span>Donneurs</span>
            </button>
        </div>
        <div>

        </div>
    </div>
    
    <!-- Main -->
    <div>
        <!-- Topbar -->
        <div>
            
        </div>
        
        <!-- Content -->
        <div>
            <!-- App Path -->
            <div>
                
            </div>
            
            <!-- Component -->
            <div>

            </div>
        </div>
    </div>
</div>