@use "tailwindcss";

:root{
    --pmr-1: #F2F3D9;
    --pmr-2: #291720;
    --placeholder-color: #979797;
}

input:focus, select:focus{
    outline: none;
}

@layer utilities {
  .side-form {
    @apply flex justify-between items-center gap-8
  }
  .side-form .side-title{
    @apply w-1/3
  }
  .side-form .side-title label{
    @apply text-base text-gray-950 font-medium font-sans
  }
  .side-form .side-container{
    @apply border-2 border-transparent border-l-gray-500 w-2/3 py-2 pl-12 space-y-3
  }
  .side-form .side-container .side-group{
    @apply w-full flex flex-col gap-1
  }
  .side-form .side-container .side-group .side-group-label{
    @apply text-xs text-gray-600 font-medium font-sans
  }
  .side-form .side-container .side-group .side-group-input{
    @apply flex gap-2 items-center px-3 py-2 border border-gray-400 rounded-lg
  }
  .side-form .side-container .side-group .side-group-input .ico{
    @apply w-4
  }
  .side-form .side-container .side-group .side-group-input input, 
  .side-form .side-container .side-group .side-group-input select, 
  .side-form .side-container .side-group .side-group-input textarea{
    @apply w-full font-sans text-sm text-gray-950
  }
}